div{
  border: black solid 1px;
  padding: 5px 10px;
  margin: 10px 0;
  min-height: 1.5em;
  width: fit-content;
  min-width: 100px;
  display: block;
  border-radius: 5px;
}
h1{
  text-align: center;
}
